.buorg {
  position: absolute;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  cursor: pointer;
  color: #000;
  font-size: 11px;
  border-bottom: 1px solid #e6cb00; }
  .buorg div {
    padding: 11px 36px 9px 40px; }
  .buorg a, .buorg a:visited {
    color: #3284bf;
    text-decoration: underline; }
  .buorg #buorgclose {
    position: absolute;
    right: 13px;
    top: 3px;
    line-height: normal;
    height: 20px;
    width: 12px;
    font-weight: bold;
    font-size: 25px;
    padding: 0; }

.sewebb-nav-space {
  border-top: 32px solid transparent; }
  .sewebb-nav-space.webbstjarnan > #header {
    margin-top: 32px; }
  .sewebb-nav-space.sajtkollen .brand-nav {
    z-index: 9999; }
  .sewebb-nav-space.sajtkollen.home #masthead {
    top: 32px; }

.logged-in .brand-nav {
  border-top: 32px solid transparent; }

.brand-nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: #323232;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
  color: #b3b3b3;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.brand-nav-fullgrid {
  position: relative;
  display: block;
  width: 1160px;
  margin: 0 auto; }

.brand-nav a {
  text-decoration: none; }
  .brand-nav a:hover {
    text-decoration: none; }

.brand-nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  list-style: none; }
  .brand-nav-list > li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    padding: 0;
    line-height: normal; }
    .brand-nav-list > li > section {
      position: relative;
      float: left;
      margin: 0;
      padding: 0; }
    .brand-nav-list > li > .brand-nav-headline, .brand-nav-list > li > section {
      display: block;
      padding: 9px 10px;
      color: #b3b3b3;
      transition: none; }
    .brand-nav-list > li > .brand-nav-headline {
      padding: 8px 8px 9px 8px; }
    .brand-nav-list > li > section {
      z-index: 10000;
      float: none;
      position: absolute;
      left: -9999px;
      width: auto;
      margin: 0;
      padding: 0;
      background: #fff;
      list-style: none;
      font-size: 18px;
      line-height: 24px;
      box-shadow: 8px 0 6px -6px rgba(0, 0, 0, 0.2), -8px 0 6px -6px rgba(0, 0, 0, 0.2), 0 8px 6px -6px rgba(0, 0, 0, 0.2); }
      .brand-nav-list > li > section > a span.linkedelement {
        display: block;
        float: left;
        width: 220px;
        padding: 12px 20px; }
      .brand-nav-list > li > section > a span.filcontent {
        width: 220px;
        color: #000; }
      .brand-nav-list > li > section > a span.fillinktext {
        display: block;
        margin-top: 5px;
        font-size: 11px;
        color: #000; }
        .brand-nav-list > li > section > a span.fillinktext:hover {
          color: #4d4d4d; }
    .brand-nav-list > li:hover {
      background: #fff; }
      .brand-nav-list > li:hover > section {
        left: 0; }
      .brand-nav-list > li:hover > .brand-nav-headline, .brand-nav-list > li:hover > section {
        color: #000; }
    .brand-nav-list > li > section > .brand-nav-icon {
      width: 50px; }

.brand-nav-logo-text {
  float: left;
  padding: 11px 5px 0 0; }

.brand-nav-logo-symbol {
  width: 28px;
  height: 28px;
  margin-top: 2px;
  opacity: 0.5; }

.brand-nav-logo:hover .brand-nav-logo-symbol {
  opacity: 1; }

.brand-nav-logo-bg {
  fill: transparent; }

.brand-nav-logo-part {
  fill: #fff; }

.brand-nav-logo:hover .brand-nav-logo-bg {
  fill: #ffdf00; }
.brand-nav-logo:hover .brand-nav-logo-part {
  fill: #2d83c0; }

.brand-nav > .brand-nav-fullgrid > .brand-nav-logo {
  display: block;
  float: right;
  padding: 0;
  font-size: 11px;
  color: #b3b3b3; }
  .brand-nav > .brand-nav-fullgrid > .brand-nav-logo > span {
    display: block;
    margin-top: 0; }
.brand-nav > .brand-nav-fullgrid > .hide.brand-nav-logo {
  display: none; }

.brand-nav-fullgrid {
  width: auto;
  padding: 0 15px 0 10px; }

.buorg {
  top: 32px !important; }

.sewebb-nav-space.webbstjarnan .buorg {
  margin-top: -64px; }
.sewebb-nav-space.internetfonden .buorg {
  margin-top: -68px; }

@media (max-width: 1023px) {
  .brand-nav {
    display: none; }

  .sewebb-nav-space {
    border: 0; }

  .buorg {
    top: 0 !important; }

  .sewebb-nav-space.webbstjarnan > #header {
    margin-top: 0; }
  .sewebb-nav-space.webbstjarnan .buorg {
    margin-top: -32px; }
  .sewebb-nav-space.internetfonden .buorg {
    margin-top: -35px; } }
iframe {
  max-width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
